name: deploy-pipeline
run-name: ${{ github.actor }} is running a new build.

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Service version wanted to deploy (a.k.a Image Tag)'

jobs:       
  Deploy-PRD:
    runs-on: ubuntu-latest
    env:
      MYSQL_URL: '${{secrets.MYSQL_URL}}'
      MYSQL_USER: '${{secrets.MYSQL_USER}}'
      MYSQL_PASSWORD: '${{secrets.MYSQL_PASSWORD}}'
      AWS_ACCESS_KEY_ID: '${{secrets.AWS_ACCESS_KEY_ID}}'
      AWS_SECRET_ACCESS_KEY: '${{secret.AWS_SECRET_ACCESS_KEY}}'
      AWS_SESSION_TOKEN: '${{secret.AWS_SESSION_TOKEN}}'
      AWS_REGION: '${{ secrets.AWS_REGION }}'
      AWS_S3_UPLOAD_BUCKET: '${{AWS_S3_UPLOAD_BUCKET}}'
      AWS_S3_DOWNLOAD_BUCKET: '${{AWS_S3_DOWNLOAD_BUCKET}}'
      RABBITMQ_HOST: '${{RABBITMQ_HOST}}'
      RABBITMQ_PORT: '${{RABBITMQ_PORT}}'
      RABBITMQ_USER: '${{RABBITMQ_USER}}'
      RABBITMQ_PASSWORD: '${{RABBITMQ_PASSWORD}}'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name videoframecut --region ${{ secrets.AWS_REGION }}

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Deploy to EKS using Helm
        env:
          VERSION: '${{github.event.inputs.version}}'
        run: |
          REPO_NAME=${GITHUB_REPOSITORY#*/}		
          helm upgrade --install $REPO_NAME --set image.tag=$VERSION --set mysqlUrl=$MYSQL_URL --set mysql_user=$MYSQL_USER \
          --set mysql_password=$MYSQL_PASSWORD --set aws_access_key_id=$AWS_ACCESS_KEY_ID --set aws_secret_access_key=$AWS_SECRET_ACCESS_KEY \
          --set aws_session_token=$AWS_SESSION_TOKEN --set aws_region=$AWS_REGION --set aws_s3_upload_bucket=$AWS_S3_UPLOAD_BUCKET \
          --set aws_s3_download_bucket=$AWS_S3_DOWNLOAD_BUCKET --set rabbitmq_host=$RABBITMQ_HOST --set rabbitmq_port=$RABBITMQ_PORT \
          --set rabbitmq_user=$RABBITMQ_USER --set rabbitmq_password=$RABBITMQ_PASSWORD ./helm-chart